.Header {
    background: url(../../Images/background1.png) no-repeat;
    background-size: cover;
    width: 100%;
    height: 800px;
}

.tr-txt {
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px white;
    font-size: 96px;
}
.logo-nav{
    position: absolute;
    left: 160px;
    top: 15px;
}

.header-text{
    position: absolute;
}
.f-text{
    font-size: 78px;
}
.s-text{
    position: absolute;
    top: 60px;
    left: 500px;
    color: #FFC700;
    font-size: 64px;
}
.header-text{
    position: absolute;
    color: white;
    top: 237px;
    left: 160px;
}
.navigation{
    a{
        text-decoration: none;
        color: snow;
        margin-left: 20px;
        &:hover{
            color: #FFC700;
        }
    }
}
.b-link{
    position: absolute;
    top: 45px;
    right: 160px;
}
.icons{
    position: absolute;
    top: 333px;
    right: 159px;
}
.btn-nav{
    background-color: #0499DD;
    color: snow;
    border: none;
    border-radius: 20px;
    outline: none;
    width: 230px;
    height: 50px;
    position: absolute;
    top: 491px;
    left: 160px;
}